@model Razor.Models.ProductViewModel

<form asp-action="AddProduct" asp-controller="Home" method="post">
    <input asp-for="Id" type="hidden" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Subtitle"></label>
        <input asp-for="Subtitle" />
    </div>
    <div>
        <label asp-for="AmountOf"></label>
        <input asp-for="AmountOf" type="number" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" step="0.01" />
    </div>
    <div>
        <label asp-for="CategoryIds">Category</label>
        <select asp-for="Id" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Nazwa"))">
            <option value="">-- Select Category --</option>
        </select>
    </div>
    <div>
        <label for="PhotoUrl">Photo URL</label>
        <input type="text" name="PhotoUrl" />
    </div>
    
    <input type="submit" value="Add Product" />
</form>