@model AddProductViewModel

<form asp-action="AddProduct" asp-controller="Home" method="post">
    <label asp-for="IdProduct">ID produktu</label>
    <input type="number" asp-for="IdProduct" />

    <label asp-for="ProductName">Nazwa produktu</label>
    <input type="text" asp-for="ProductName" />

    <label asp-for="Subtitle">Podtytuł</label>
    <input type="text" asp-for="Subtitle" />

    <label asp-for="AmountOf">Ilość</label>
    <input type="number" asp-for="AmountOf" />

    <label asp-for="Price">Cena</label>
    <input type="number" asp-for="Price" step="0.01" />

    <label asp-for="UserId">UserId</label>
    <input type="number" asp-for="UserId" />

    <label asp-for="CategoryIds">ID kategorii</label>
    <input type="number" name="CategoryIds" />

    <label asp-for="Photos">Zdjęcie</label>
    <input type="text" name="Photos" />

    <input type="submit" value="Dodaj produkt" />
</form>