@inject IHttpClientFactory _clientFactory
@using backend.Data.Models

@if (TempData["LoginMessage"] != null)
{
    <div>@TempData["LoginMessage"].ToString()</div>
}

@{
    ViewData["Title"] = "Home Page";
    
}

@model backend.Data.Models.User



<form method="post" asp-action="AddUser" id="lol">
    <input asp-for="Name" />
    <input asp-for="LastName" />
    <input asp-for="Username" />
    <input asp-for="Email" />
    <input asp-for="Password" />
    <button type="submit">Submit</button>
</form>

<form method="post" asp-action="Login" id="loginForm">
    <input asp-for="Username" />
    <input asp-for="Password" />
    <button type="submit">Zaloguj</button>
</form>