@using Newtonsoft.Json;
@using backend.Data.Models
@inject IHttpClientFactory _clientFactory
@{
    ViewData["Profile"] = "Profile";
    User user = null;

    var userId = Context.Session.GetString("UserId");
    var request = new HttpRequestMessage(HttpMethod.Get, $"https://localhost:7235/api/users/currentUser?userId={userId}");
    var client = _clientFactory.CreateClient();
    var response = await client.SendAsync(request);

    if (response.IsSuccessStatusCode)
    {
        var responseContent = await response.Content.ReadAsStringAsync();
        user = JsonConvert.DeserializeObject<User>(responseContent);
    }
}
<h1>@ViewData["Profile"]</h1>

<p>Name: @user?.Name</p>
<p>Last Name: @user?.LastName</p>
<p>Username: @user?.Username</p>
<p>Email: @user?.Email</p>

<h2>Your Orders</h2>
<div id="orders">
    <!-- Orders will be inserted here -->
</div>

@section Scripts {
    <script>
        const userId = '@Context.Session.GetString("UserId")';
        const ordersDiv = document.getElementById('orders');

        function displayOrders() {
            fetch(`https://localhost:7235/api/Order/orderhistory?userId=${userId}`)
                .then(response => response.json())
                .then(data => {
                    ordersDiv.innerHTML = ''; // Clear the orders div
                    if (data.$values.length === 0) {
                        ordersDiv.innerHTML = '<p>Brak zamówień</p>'; // Display "Brak zamówień" if there are no orders
                    } else {
                        var list = document.createElement('ul');
                        list.className = 'list-group';
                        data.$values.forEach(order => {
                            var listItem = document.createElement('li');
                            listItem.className = 'list-group-item';
                            listItem.innerHTML = `<p>Order ID: ${order.orderId}</p><p>Product Name: ${order.productName}</p><p>Order Date: ${order.orderDate}</p><p>Quantity: ${order.quantity}</p><button onclick="window.location.href='https://localhost:7235/pdf?orderid=${order.orderId}'" class="btn btn-primary">Pobierz PDF</button>`;
                            list.appendChild(listItem);
                        });
                        ordersDiv.appendChild(list);
                    }
                });
        }

        displayOrders(); // Display the orders when the page loads
    </script>
}